* {
    box-sizing: border-box;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
}

button {
    width: 40%;
    padding: 15px;
    font-size: 20px;
    background-color: rgb(121, 255, 255);
    border: none;
    border-radius: 10px;
}

.btn {
    display: flex;
    justify-content: center;
}

.preguntas {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 10px;
}

.question {
    margin-bottom: 15px;
    margin-left: 20px;
}

.acept {
    font-size: 22px;
}

.options input {
    margin-left: 25px;

}